<!DOCTYPE html>
<html ng-app="battlebuddyapp">
  <head>
    <title>Battle Buddy</title>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-controller="MainCtrl as ctrl">


    <section id="start" ng-if="ctrl.state === 'start'">
      <p class="title">
        <img src="assets/battlebuddy-logo.png" />
      </p>
      <p class="logo">
        <img src="assets/robot_screenshot.png" />
      </p>
      <p>
        <label for="code">Enter Code:</label><br>
        <input type="number" id="code" ng-model="ctrl.code" /><br>
      </p>
      <p>
        <a class="button" ng-click="ctrl.onEnterCodeClicked()">Submit</a>
      </p>
      <p>
        <a class="button" ng-click="ctrl.onCreateClicked()">Create Buddy</a>
      </p>
    </section>



    <section id="welcome" ng-if="ctrl.state === 'welcome'">
      <p class="title">
        <img src="assets/battlebuddy-logo.png" />
      </p>
      <p class="logo">
        <img src="assets/robot_screenshot.png" />
      </p>
      <p>
        WELCOME BACK,<br>
        {{ ctrl.user.name }}
      </p>
    </section>

    <section id="info" ng-if="ctrl.state === 'info'">
      <h1>INFO</h1>
      <p>
        <label for="name">Name: </label>
        <input type="text" id="name" ng-model="ctrl.newUser.name"></div>
      </p>
      <p>
        <label>Gender:</label>
        <select ng-model="ctrl.newUser.gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </p>
      <p class="top-space">
        <a class="button" ng-click="ctrl.onInfoClicked()">Next</a>
      </p>
    </section>



    <section id="character" ng-if="ctrl.state === 'character'">
      <h1>CHARACTER CLASS</h1>
      <p>Suit your play style</p>
      <p> {{ ctrl.classes[ctrl.currentClassIndex].name }}: {{ ctrl.classes[ctrl.currentClassIndex].subtitle }}</p>
      <div class="row">
        <div ng-click="ctrl.onLeftClicked()" class="icon left"></div>
        <div class="image"><img ng-src="{{ ctrl.classes[ctrl.currentClassIndex].image }}"></div>
        <div ng-click="ctrl.onRightClicked()" class="icon right"></div>
      </div>
      <p class="top-space">
        <a class="button" ng-click="ctrl.onClassChosenClicked()">Choose</a>
      </p>
      <p>*You cannot change later!</p>
    </section>



    <section id="dashboard" ng-if="ctrl.state === 'dashboard'">
      <h1>DASHBOARD</h1>
      <div class="row">
        <div>Name: {{ ctrl.user.name }}</div>
        <div>Coins: {{ ctrl.user.coins }}</div>
      </div>
      <h2>Battle Sets</h2>
      <p>
        <a class="button" ng-click="ctrl.onBattleSetSelected(ctrl.user.loadouts[0].id)">{{ ctrl.user.loadouts[0].name || 'Battle Set 1' }}</a>
        <a class="button secondary" ng-click="ctrl.onEditLoadoutClicked(ctrl.user.loadouts, 0)">Edit</a>
      </p>
      <p>
        <a class="button" ng-click="ctrl.onBattleSetSelected(ctrl.user.loadouts[1].id)">{{ ctrl.user.loadouts[1].name || 'Battle Set 2' }}</a>
        <a class="button secondary" ng-click="ctrl.onEditLoadoutClicked(ctrl.user.loadouts, 1)">Edit</a>
      </p>
      <p>
        <a class="button" ng-click="ctrl.onBattleSetSelected(ctrl.user.loadouts[2].id)">{{ ctrl.user.loadouts[2].name || 'Battle Set 3' }}</a>
        <a class="button secondary" ng-click="ctrl.onEditLoadoutClicked(ctrl.user.loadouts, 2)">Edit</a>
      </p>
      <p class="top-space">
        <a class="button" ng-click="ctrl.onStoreClicked()">Store</a>
      </p>
    </section>




    <section id="store" ng-if="ctrl.state === 'store'">
      <h1>STORE</h1>
      <div class="row">
        <div>Balance</div>
        <div>{{ ctrl.user.coins }}</div>
      </div>
      <hr>
      <p>
        <a class="button secondary" ng-click="ctrl.onStoreCategorySelected('weapon')">Weapon</a>
      </p>
      <p>
        <a class="button secondary" ng-click="ctrl.onStoreCategorySelected('armor')">Armor</a>
      </p>
      <p>
        <a class="button secondary" ng-click="ctrl.onStoreCategorySelected('speed')">Speed</a>
      </p>
      <p class="top-space">
        <a class="button" ng-class="{'inactive': !ctrl.weapon || !ctrl.armor || !ctrl.speed}" ng-click="ctrl.onSummaryClicked(ctrl.weapon && ctrl.armor && ctrl.speed)">Summary</a>
      </p>
    </section>



    <section id="weapon" class="store-category" ng-if="ctrl.state === 'weapon'">
      <h1>WEAPON</h1>
      <p class="balance">Balance: {{ ctrl.user.coins }}</p>
      <div class="row">
        <div>
          <div ng-click="ctrl.onUpItemClicked()" class="icon up"></div>
          <div> {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].name }} </div>
          <div ng-click="ctrl.onDownItemClicked()" class="icon down"></div>
          <div class="description top-space">Description: <br><span>{{ ctrl.items[ctrl.state][ctrl.currentItemIndex].description }}</span></div>
        </div>
        <div>
          <p><img ng-src="{{ ctrl.itemImages[ctrl.state][ctrl.items[ctrl.state][ctrl.currentItemIndex].name] }}"></p>
          <p>Cost: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].cost }}</p>
          <p ng-if="!ctrl.hasPurchased(ctrl.items[ctrl.state][ctrl.currentItemIndex].id)"><a class="button" ng-click="ctrl.onBuyClicked()">BUY</a></p>
          <p ng-if="ctrl.hasPurchased(ctrl.items[ctrl.state][ctrl.currentItemIndex].id)"><a class="button" ng-click="ctrl.onEquipClicked()">EQUIP</a></p>
        </div>
      </div>
      <ul>Stats
        <li>Damage: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].damage }}</li>
        <li>Range: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].range }}</li>
        <li>Spread: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].spread }}</li>
        <li>Speed: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].speed }}</li>
        <li>Cooldown: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].cooldown }}</li>
      </ul>
    </section>



    <section id="armor" class="store-category" ng-if="ctrl.state === 'armor'">
      <h1>ARMOR</h1>
      <p class="balance">Balance: {{ ctrl.user.coins }}</p>
      <div class="row">
        <div>
          <div ng-click="ctrl.onUpItemClicked()" class="icon up"></div>
          <div> {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].name }} </div>
          <div ng-click="ctrl.onDownItemClicked()" class="icon down"></div>
          <div class="description top-space">Description: <br><span>{{ ctrl.items[ctrl.state][ctrl.currentItemIndex].description }}</span></div>
        </div>
        <div class="right">
          <p><img ng-src="{{ ctrl.itemImages[ctrl.state][ctrl.items[ctrl.state][ctrl.currentItemIndex].name] }}"></p>
          <p>Cost: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].cost }}</p>
          <p ng-if="!ctrl.hasPurchased(ctrl.items[ctrl.state][ctrl.currentItemIndex].id)"><a class="button" ng-click="ctrl.onBuyClicked()">BUY</a></p>
          <p ng-if="ctrl.hasPurchased(ctrl.items[ctrl.state][ctrl.currentItemIndex].id)"><a class="button" ng-click="ctrl.onEquipClicked()">EQUIP</a></p>
        </div>
      </div>
      <ul>Stats
        <li ng-if="ctrl.items[ctrl.state][ctrl.currentItemIndex].effect">Time Active: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].effect }}</li>
        <li ng-if="ctrl.items[ctrl.state][ctrl.currentItemIndex].health">Health: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].health }}</li>
        <li>Cooldown: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].cooldown }}</li>
      </ul>
    </section>




    <section id="speed" class="store-category" ng-if="ctrl.state === 'speed'">
      <h1>SPEED</h1>
      <p class="balance">Balance: {{ ctrl.user.coins }}</p>
      <div class="row">
        <div>
          <div ng-click="ctrl.onUpItemClicked()" class="icon up"></div>
          <div> {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].name }} </div>
          <div ng-click="ctrl.onDownItemClicked()" class="icon down"></div>
          <div class="description top-space">Description: <br><span>{{ ctrl.items[ctrl.state][ctrl.currentItemIndex].description }}</span></div>
        </div>
        <div class="right">
          <p><img ng-src="{{ ctrl.itemImages[ctrl.state][ctrl.items[ctrl.state][ctrl.currentItemIndex].name] }}"></p>
          <p>Cost: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].cost }}</p>
          <p ng-if="!ctrl.hasPurchased(ctrl.items[ctrl.state][ctrl.currentItemIndex].id)"><a class="button" ng-click="ctrl.onBuyClicked()">BUY</a></p>
          <p ng-if="ctrl.hasPurchased(ctrl.items[ctrl.state][ctrl.currentItemIndex].id)"><a class="button" ng-click="ctrl.onEquipClicked()">EQUIP</a></p>
        </div>
      </div>
      <ul>Stats
        <li>Boost Mulitplyer: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].multiplier }}x</li>
        <li>Duration: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].effect }}</li>
        <li>Cooldown: {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].cooldown }}</li>
      </ul>
    </section>



    <section id="summary" ng-if="ctrl.state === 'summary'">
      <h1>SUMMARY</h1>
      <p class="top-space">Weapon: {{ ctrl.weapon.name }} <a ng-if="!ctrl.isNew" class="button secondary" ng-click="ctrl.onStoreCategorySelected('weapon')">Edit</a></p>
      <p>Armor: {{ ctrl.armor.name }} <a ng-if="!ctrl.isNew" class="button secondary" ng-click="ctrl.onStoreCategorySelected('armor')">Edit</a></p>
      <p>Speed: {{ ctrl.speed.name }} <a ng-if="!ctrl.isNew" class="button secondary" ng-click="ctrl.onStoreCategorySelected('speed')">Edit</a></p>
      <p>
        <label for="name">Name of Set:</label><br>
        <input type="type" id="name" ng-model="ctrl.setName" />
      </p>
      <p class="top-space">
        <a class="button" ng-click="ctrl.onSaveSet()">Save Set</a>
      </p>
    </section>



    <section id="code" ng-if="ctrl.state === 'code'">
      <h1>CODE</h1>
      <p>{{ ctrl.user.code }}</p>
    </section>

  </body>
</html>