<!DOCTYPE html>
<html ng-app="battlebuddyapp">
  <head>
    <title>Battle Buddy</title>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-controller="MainCtrl as ctrl">
    <section id="start" ng-if="ctrl.state === 'start'">
      <p class="logo">
        <img src="" />
      </p>
      <p>
        <label for="code">Enter Code:</label><br>
        <input type="number" id="code" ng-model="ctrl.code" /><br>
        <a class="button" ng-click="ctrl.onEnterCodeClicked()">Submit</a>
      </p>
      <p>
        <a class="button" ng-click="ctrl.onCreateClicked()">Create Buddy</a>
      </p>
    </section>
  </body>
</html>