<!DOCTYPE html>
<html ng-app="battlebuddyapp">
  <head>
    <title>Battle Buddy</title>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-controller="MainCtrl as ctrl">


    <section id="start" ng-if="ctrl.state === 'start'">
      <p class="logo">
        <img src="" />
      </p>
      <p>
        <label for="code">Enter Code:</label><br>
        <input type="number" id="code" ng-model="ctrl.code" /><br>
        <a class="button" ng-click="ctrl.onEnterCodeClicked()">Submit</a>
      </p>
      <p>
        <a class="button" ng-click="ctrl.onCreateClicked()">Create Buddy</a>
      </p>
    </section>



    <section id="welcome" ng-if="ctrl.state === 'welcome'">
      <p class="logo">
        <img src="" />
      </p>
      <p>
        WELCOME BACK,<br>
        {{ ctrl.user.name }}
      </p>
    </section>

    <section id="welcome" ng-if="ctrl.state === 'welcome'">
      <h1>INFO</h1>
      <p>
        <label for="name">Name</label>
        <input type="text" id="name" ng-model="ctrl.newUser.name"></div>
      </p>
      <p>
        <label>Gender</label>
        <select ng-model="ctrl.newUser.gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </p>
      <p>
        <a class="button" ng-click="ctrl.onInfoClicked()"></a>
      </p>
    </section>



    <section id="character" ng-if="ctrl.state === 'character'">
      <h1>CHARACTER CLASS</h1>
      <p>Suit your place style</p>
      <p> {{ ctrl.classes[ctrl.currentClassName].name }}: {{ ctrl.classes[ctrl.currentClassName].subtitle }}</p>
      <div class="row">
        <div ng-click="ctrl.onLeftClicked()"><i>left</i></div>
        <div><img src=""></div>
        <div ng-click="ctrl.onRightClicked()"><i>right</i></div>
      </div>
      <p>
        <a class="button" ng-click="ctrl.onClassChosenClicked()">Choose</a>
      </p>
      <p>*You cannot change later!</p>
    </section>



    <section id="dashboard" ng-if="ctrl.state === 'dashboard'">
      <h1>DASHBOARD</h1>
      <div class="row">
        <div>{{ ctrl.user.name }}</div>
        <div>Coins: {{ ctrl.user.coins }}</div>
      </div>
      <h2>Battle Sets</h2>
      <div class="battlesets">
        <div class="row">
          <div ng-click="ctrl.onBattleSetSelected(0)" class="battleset"><span>{{ ctrl.user.loadouts[0].name || 'Battle Set 1' }}</span></div>
          <div ng-click="ctrl.onEditLoadoutClicked(ctrl.user.loadouts, 0)">Edit</div>
        </div>
        <div class="row">
          <div ng-click="ctrl.onBattleSetSelected(1)" class="battleset"><span>{{ ctrl.user.loadouts[1].name || 'Battle Set 2' }}</span></div>
          <div ng-click="ctrl.onEditLoadoutClicked(ctrl.user.loadouts, 1)">Edit</div>
        </div>
        <div class="row">
          <div ng-click="ctrl.onBattleSetSelected(2)" class="battleset"><span>{{ ctrl.user.loadouts[2].name || 'Battle Set 3' }}</span></div>
          <div ng-click="ctrl.onEditLoadoutClicked(ctrl.user.loadouts, 2)">Edit</div>
        </div>
      </div>
      <p>
        <a class="button" ng-click="ctrl.onStoreClicked()">Store</a>
      </p>
    </section>




    <section id="store" ng-if="ctrl.state === 'store'">
      <h1>STORE</h1>
      <div class="row">
        <div>Balance</div>
        <div>{{ ctrl.user.coins }}</div>
      </div>
      <hr>
      <p>
        <a ng-click="ctrl.onStoreCategorySelected('weapon')">Weapons</a>
      </p>
      <p>
        <a ng-click="ctrl.onStoreCategorySelected('armor')">Armor</a>
      </p>
      <p>
        <a ng-click="ctrl.onStoreCategorySelected('speed')">Speed</a>
      </p>
       <p>
        <a class="button" ng-class="{'inactive': !ctrl.weapon || !ctrl.armor || !ctrl.speed}" ng-click="ctrl.onSummaryClicked(ctrl.weapon && ctrl.armor && ctrl.speed)">Summary</a>
      </p>
    </section>



    <section id="weapon" class="store-category" ng-if="ctrl.state === 'weapon'">
      <h1>WEAPON</h1>
      <div class="row">
        <div class="left">
          <i ng-click="ctrl.onUpItemClicked()">Up</i>
          <div> {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].name }} </div>
          <i ng-click="ctrl.onDownItemClicked()">Down</i>
          <div class="description">{{ ctrl.items[ctrl.state][ctrl.currentItemIndex].description }} </div>
        </div>
        <div class="right">
          <p><img src=""></p>
          <p><a class="button" ng-click="ctrl.onBuyClicked()">BUY</a></p>
          <p>
            <!-- <ul>
              <li></li>
            </ul> -->
          </p>
        </div>
      </div>
    </section>



    <section id="armor" class="store-category" ng-if="ctrl.state === 'armor'">
      <h1>ARMOR</h1>
      <div class="row">
        <div class="left">
          <i ng-click="ctrl.onUpItemClicked()">Up</i>
          <div> {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].name }} </div>
          <i ng-click="ctrl.onDownItemClicked()">Down</i>
          <div class="description">{{ ctrl.items[ctrl.state][ctrl.currentItemIndex].description }} </div>
        </div>
        <div class="right">

        </div>
      </div>
    </section>




    <section id="speed" class="store-category" ng-if="ctrl.state === 'speed'">
      <h1>SPEED</h1>
      <div class="row">
        <div class="left">
          <i ng-click="ctrl.onUpItemClicked()">Up</i>
          <div> {{ ctrl.items[ctrl.state][ctrl.currentItemIndex].name }} </div>
          <i ng-click="ctrl.onDownItemClicked()">Down</i>
          <div class="description">{{ ctrl.items[ctrl.state][ctrl.currentItemIndex].description }} </div>
        </div>
        <div class="right">

        </div>
      </div>
    </section>



    <section id="summary" ng-if="ctrl.state === 'summary'">
      <h1>SUMMARY</h1>
    </section>



    <section id="code" ng-if="ctrl.state === 'code'">
      <h1>CODE</h1>
      <div>{{ ctrl.user.code }}</div>
    </section>

  </body>
</html>