@font-face {
  font-family: Journey;
  src: url("assets/JourneyPS3.ttf"); }

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0; }
  body section {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 50px;
    background-color: #C49A6C;
    font-family: Journey; }

h1 {
  font-size: 90px;
  text-align: center; }

.button {
  width: 80%;
  font-size: 50px;
  line-height: 50px;
  padding: 20px 15%;
  border: 2px solid #C2B59B;
  background-color: #754C29;
  box-shadow: 10px 10px 5px #666;
  color: #C2B59B; }
  .button.inactive {
    color: darkgray;
    background-color: lightgray; }

.secondary {
  background-color: #C2B59B;
  color: #754C29; }

.row {
  display: flex;
  width: 100%; }
  .row div {
    flex: 1;
    text-align: center; }

.logo {
  height: 33%;
  width: 80%;
  margin: 0 auto 20px;
  position: relative;
  top: -90px; }
  .logo img {
    height: 100%;
    width: 100%; }

.icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50px;
  width: 50px; }
  .icon.left {
    background-image: url("assets/icon-arrow-left.png"); }
  .icon.right {
    background-image: url("assets/icon-arrow-right.png"); }
  .icon.up {
    background-image: url("assets/icon-arrow-up.png"); }
  .icon.down {
    background-image: url("assets/icon-arrow-down.png"); }

input, select {
  width: 430px;
  font-size: 50px;
  line-height: 50px;
  padding: 10px;
  background-color: #C49A6C;
  border: none;
  border-bottom: 10px solid white;
  margin: 20px 50px;
  text-align: center; }

select {
  width: 450px;
  margin: 20px 50px;
  background-color: white; }

p {
  text-align: center;
  min-height: 90px; }
  p.title {
    margin: 0; }

.top-space {
  margin-top: 25%; }

.balance {
  margin: 0 0 10px; }

#info h1 {
  margin-bottom: 25%; }

#info input {
  margin: 20px 0 50px 60px; }

#info select {
  margin: 20px 50px; }

#dashboard h2 {
  margin-top: 15%;
  font-size: 70px;
  text-align: center; }

#dashboard .button {
  width: 45%;
  padding: 20px 50px;
  margin: 0 20px; }

#character .image {
  flex: 3; }
  #character .image img {
    height: 420px; }

#character .row {
  height: 450px;
  line-height: 320px; }

.store-category .icon {
  margin: 20px auto;
  padding: 40px; }

.store-category .description span {
  font-size: 35px; }

.store-category .row {
  height: 60%; }
  .store-category .row .top-space {
    margin-top: 85px; }

.store-category img {
  width: 100%; }

.store-category ul {
  text-align: center;
  padding: 0; }
  .store-category ul li {
    list-style: none;
    font-size: 35px; }

#weapon.store-category .row {
  height: 52%; }

#speed.store-category .row {
  height: 50%; }

#code p {
  font-size: 150px; }
